body{
  padding: 0px;
  box-sizing: border-box;
  background-color: #DDDDDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
 
h1[data-testid="slackUserName"]{
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 5px;
} 

img[data-testid="slackDisplayImage"]{
  width: 500px;
  height: 500px;
  border: 2px solid;
}

time[data-testid="currentDayOfTheWeek"]{
  color: red;
  font-size: 45px;
}

time[data-testid="currentUTCTime"]{
  font-weight: bolder;
  font-size: 25px;
}

h3[data-testid="myTrack"]{
  display: inline;

  font-size: 25px;
  text-decoration:underline
}